<body class="container p-3 mb-2 bg-light text-dark"">
  <h1 class= "text-center">COLEGIO DE MEXICO</h1>
  <%= render partial: 'partials/navbar' %>
  <h2 class="text-center"> Formulario de Inscripciones </h2>

</body>
